/target
engine/target
.venv
__pycache__/
*.pyc
.pytest_cache/
dist/
*.so
assets/collision_meshes/
checkpoints/
wandb/
*.pt
/rlviser
checkpoints_b/
/league/
checkpoints_v1_archive/
logs/
data/
replay/target/
